:root {
  --light-bg-main: #dcdcf0a6;
  --light-bg-main-solid: #dcdcf0;
  --light-bg-sec: #c3c3e0ec;
}
* {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,
html {
  padding: 0rem;
  margin: 0;
  scroll-behavior: smooth;
  background-color: inherit;
  overflow-x: hidden;
  background-color: var(--light-bg-sec);
}
body {
  height: 100vh;
}
@keyframes hover-grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hover-shrink {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

a:hover {
  animation: hover-grow 0.2s forwards !important;
}
a {
  animation: hover-shrink 0.2s forwards !important;
}
